*.class

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
war/blog/
gwt-unitCache/
test-classes/
www-test/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
blog/Blog/war/blog/*.cache.js
blog/Blog/war/WEB-INF/deploy/
blog/Blog/war/WEB-INF/classes/
blog/Blog/war/WEB-INF/lib/
blog/Blog/war/blog/*.gwt.rpc
blog/Blog/war/blog/*.txt

# App engine generated #
blog/Blog/war/WEB-INF/appengine-generated/
